<div class="card row container flex-row g-0 mx-auto my-2">
    <div class="col-md-2 my-auto">
        <img src="..." class="img-fluid rounded image" alt="...">
    </div>
    <div class="col-md-8 px-4 position-relative">
        <h3 class="card-title text-decoration-none name"><a href=""></a></h3>
        <p class="card-text cost"></p>
    </div>
    <div class="col-md-2 align-self-center text-center p-4 p-md-2">
        <div class="col-12 col-md btn-group orderDecreaser mb-3" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-primary decrease"><i class="fa-solid fa-minus"></i></button>
            <button type="button" class="btn btn-outline-primary text-bg-secondary disabled orderLabel">1</button>
            <button type="button" class="btn btn-primary increase"><i class="fa-solid fa-plus"></i></button>
        </div>
        <button type="button" class="col-12 col-md btn btn-outline-danger delete">Удалить</button>
    </div>
</div>