<div class="card row container flex-row g-0 mx-auto" id="dish-container">

    <div class="col-12 position-relative overflow-hidden">
        <img src="..." class="img-fluid rounded image position-absolute w-100 ibgItem blur" alt="...">
        <div class="col-12 col-md-8 col-lg-6 mx-auto rounded position-relative d-flex align-items-center">
            <img src="..." class="mx-auto img-fluid rounded image ibgItem" alt="...">
            <i class="fa-solid fa-leaf fs-1 border-2 border-success border text-success bg-white p-1 m-2 rounded-3 d-none position-absolute bottom-0 end-0"
                id="vegetarianIcon"></i>
        </div>
    </div>
    <div class="col-12 position-relative">
        <div class="card-body px-4 mb-5">
            <h1 class="card-title text-decoration-none text-white" id="name"></h1>
            <p class="card-text" id="category"></p>
            <p class="card-text" id="vegetarian"></p>
            <p class="card-text" id="desc"></p>
            <input name="rating-output" class="rating rating-loading w-100" id="rating" value="1.5" data-min="0"
                data-max="10" data-step="1">
        </div>
        <div class="card-footer position-absolute bottom-0 w-100 px-4 text-end">
            <p class="card-text" id="cost"></p>
        </div>
    </div>
</div>