<div class="row row-cols-xxl-4 row-cols-lg-3 row-cols-md-2 row-cols-1 mx-5 mb-4 container mx-auto shadow rounded pb-2"
  id="dishes-container">
  <div
    class="row row-cols-xl-4 row-cols-md-2 row-cols-1 w-100 p-2 border border-3 border-dark mx-auto rounded" id="search">
    <div class="col px-2">
      <select class="selectpicker w-100" multiple id="searchCategoryCheck">
        <option value="Wok">WOK</option>
        <option value="Pizza">Pizza</option>
        <option value="Soup">Soup</option>
        <option value="Dessert">Dessert</option>
        <option value="Drink">Drink</option>
      </select>
    </div>
    <div class="col my-auto px-2">
      <select class="selectpicker w-100" id="searchSortingCheck">
        <option value="NameAsc">По возрастанию алфавита</option>
        <option value="NameDesc">По убыванию алфавита</option>
        <option value="PriceAsc">Сначала недорогие</option>
        <option value="PriceDesc">Сначала дорогие</option>
        <option value="RatingAsc">Сначала с низкой оценкой</option>
        <option value="RatingDesc">Сначала с высокой оценкой</option>
      </select>
    </div>
    <div class="col my-auto px-2">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="searchVegeterianCheck">
        <label class="form-check-label" for="searchVegeterianCheck">Только вегетерианские</label>
      </div>
    </div>
    <div class="col my-auto px-2">
      <button type="submit" class="btn btn-primary end-0 float-end searchSubmit" id="searchSubmit">Применить</button>
    </div>
  </div>
</div>