<div class="card row container flex-row g-0 mx-auto" id="dish-container">

    <div class="col-lg-5 my-auto position-relative">
        <img src="..." class="img-fluid rounded" id="image" alt="...">
        <i class="fa-solid fa-leaf fs-1 border-2 border-success border text-success bg-white p-1 m-2 rounded-3 d-none position-absolute bottom-0 end-0" id="vegetarianIcon"></i>
    </div>
    <div class="col-lg-7 position-relative">
        <div class="card-body px-4 mb-5">
            <h1 class="card-title text-decoration-none text-white" id="name"></h1>
            <p class="card-text" id="category"></p>
            <p class="card-text" id="vegetarian"></p>
            <p class="card-text" id="desc"></p>
            <input name="rating-output" class="rating rating-loading w-100" id="rating" value="1.5" data-min="0"
                data-max="10" data-step="1">
        </div>
        <div class="card-footer position-absolute bottom-0 w-100 px-4 text-end">
            <p class="card-text" id="cost"></p>
        </div>
    </div>
</div>