<div class="card row container flex-row g-0 mx-auto">
    <div class="col-md-5">
        <img src="..." class="img-fluid rounded" id="image" alt="...">
    </div>
    <div class="card-img-overlay col-md-1 col-3">
        <img src="/src/img/vegan-icon.png" class="col-10 d-none" id="vegetarianIcon" alt="">
    </div>
    <div class="col-md-7 position-relative">
        <div class="card-body px-4 mb-5">
            <h1 class="card-title text-decoration-none text-white" id="name"></h1>
            <p class="card-text" id="category"></p>
            <p class="card-text" id="vegetarian"></p>
            <input name="rating-output" class="rating rating-loading w-100" id="rating" value="1.5" data-min="0"
                data-max="10" data-step="1" data-readonly="true">
            <p class="card-text" id="desc"></p>
        </div>
        <div class="card-footer position-absolute bottom-0 w-100 px-4">
            <p class="card-text" id="cost"></p>
        </div>
    </div>
</div>