<nav class="navbar navbar-dark bg-dark navbar-expand-md px-md-5 px-2 mb-2">
    <div class="container">
        <a class="navbar-brand" href="/">Delivery.Кушац</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/" id="dishesLink">Меню</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/orders" id="ordersLink">Заказы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/cart" id="cartLink">Корзина <span class="badge bg-success" id="basketBadge"></span></a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/profile" id="user"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/" id="logout">Выйти</a>
                </li>
            </ul>
        </div>
    </div>
</nav>