<div class="row mx-5 mb-4 container mx-auto shadow rounded pb-2" id="order-container">
    <div class="col-12 my-2 border border-1 rounded d-flex flex-column flex-md-row justify-content-between p-2 align-items-center d-none" id="purchase">
        <p class="d-inline-block my-auto">В корзине есть блюда, можно оформить заказ</p>
        <button type="button" class="btn btn-success col-12 col-md-6 col-lg-3" id="purchaseButt">Оформить</button>
    </div>
    <div id="last-orders" class="mx-auto d-none p-0">
    </div>
</div>