<div class="card row container flex-row g-0 mx-auto mb-2 p-2 justify-content-between pointer">
    <div class="col-md-8 pу-2 position-relative">
        <h5 class="card-title title"><a href="" class="text-decoration-underline text-white"></a></h5>
        <p class="card-text status m-0"></p>
        <p class="card-text delivery"></p>
    </div>
    <div class="col-md-4 d-flex flex-column-reverse flex-sm-row-reverse flex-md-column align-items-md-end align-items-start justify-content-between orderButt">
        <button type="button" class="col-12 col-sm-6 col-md-12 col-lg-8 btn btn-outline-success confirm">Подтвердить доставку</button>
        <p class="card-text cost mb-1"></p>
    </div>
</div>