<div class="card row container flex-row g-0 mx-auto mb-3 border border-secondary border-1">
    <div class="col-md-2 my-auto">
        <img src="..." class="img-fluid rounded image" alt="...">
    </div>
    <div class="col-md-6 px-4 d-flex flex-column justify-content-between mb-2">
        <h3 class="card-title text-decoration-none text-white name"><a href=""></a></h3>
        <div class="d-flex flex-column justify-content-end align-items-start">
            <p class="card-text cost mb-0"></p>
            <p class="card-text amount mb-0"></p>
        </div>
    </div>
    <div class="col-md-4 px-4 d-flex justify-content-end align-items-end mb-2">
        <p class="card-text fullPrice mb-0"></p>
    </div>
</div>