<div class="card row mx-5 mb-4 container mx-auto shadow rounded pb-2 px-0" id="order-container">
   <div class="card-header w-100 d-flex justify-content-between">
    <h4>Заказ</h4>
    <button type="button" class="btn btn-outline-success" id="confirm">Подтвердить доставку</button>
   </div>
   <div class="card-body">
    <p class="card-text mb-0" id="orderDate">Дата</p>
    <p class="card-text mb-0" id="deliveryDate">Дата</p>
    <p class="card-text mb-0" id="address">Адрес</p>
    <p class="card-text" id="status">Статус</p>
    <p class="card-text">Список блюд:</p>
    <div id="dishList"></div>
    <p class="card-text" id="totalPrice">Статус</p>
   </div>
</div>