<nav class="mx-5">
  <ul class="pagination justify-content-center" id="pagination">
    <li class="page-item"><a class="page-link" id="begin"><i class="fa-solid fa-angles-left"></i></a></li>
    <li class="page-item"><a class="page-link" id="back"><i class="fa-solid fa-angle-left"></i></a></li>
    <li class="page-item"><a class="page-link" id="page1"></a></li>
    <li class="page-item"><a class="page-link" id="page2"></a></li>
    <li class="page-item"><a class="page-link" id="page3"></a></li>
    <li class="page-item"><a class="page-link" id="forward"><i class="fa-solid fa-angle-right"></i></a></li>
    <li class="page-item"><a class="page-link" id="end"><i class="fa-solid fa-angles-right"></i></a></li>
  </ul>
</nav>
