body::-webkit-scrollbar {
  width: 10px;
  background-color: #ffffff00;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #dadce0;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #98999b;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: #ffffff00;
}

#searchCategoryCheck {
  max-height: 150px;
  overflow: auto;
}

body {
  min-width: 320px;
  position: relative;
  min-height: 100vh;
}

main {
  padding-bottom: 2.5rem;    /* Footer height */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

