body::-webkit-scrollbar {
  width: 10px;
  background-color: #212529;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #a1a1a1;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: #212529;
}

#searchCategoryCheck {
  max-height: 150px;
  overflow: auto;
}

#searchCategoryCheck::-webkit-scrollbar {
  margin-left: -5px;
  width: 10px;
  background-color: #ffffff;
}

#searchCategoryCheck::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #b8b8b8;
}

#searchCategoryCheck::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: #636363;
}

body {
  min-width: 320px;
  position: relative;
  min-height: 100vh;
}

.ratingItem {
  text-align: center;
}

main {
  padding-bottom: 2.5rem;    /* Footer height */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

